.PaginationContainer {
  /* flex aligns all elements in horizontal line*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.PageInputLabel {
  font-weight: bold;
}

.PageInput {
  width: 40px;
  height: 30px;
  margin-right: 15px;
}

.PageCount {
  font-weight: bold;
  margin-right: 15px;
}

.Pagination {
  display: flex;
}

.Pagination p {
  padding: 5px 10px;
  border: 1px solid;
}

table,
td,
th {
  border: 1px solid;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.TableContainer {
  padding: 20px;
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.InputBox {
  width: 90%;
  height: 30px;
  margin: 5px;
}

.TableContent {
  padding: 7px 5px;
}

.CreateRuleSetButton {
  background-color: green;
  text-align: center;
  height: 30px;
  margin: 10px;
  color: white;
  cursor: pointer;
}