.Header {
  background-color: #f3f3f3;
  padding-left: 20px;
}

.Version {
  font-size: 12px;
}

.Nav {
  display: flex;
}

.NavItem {
  padding: 10px;
  font-weight: bold;
}

.NavActive {
  background-color: #ccc;
}
